In [2]:
# 1 FROM INEGER TO FLOAT
int_num = 5
num_float = float(int_num)
print(num_float)
type(num_float)

5.0

float

In [1]:
# 2  FROM FLOAT TO INTEGER
flot_num = 9.9
int_num = int(flot_num)
print(int_num)
type(int_num)

9

int

In [5]:
# 3  INTEGER TO STRING
int_num = 9
str_num = str(int_num)
print(int_num)
print(str_num)
type(str_num)

9
9

str

In [6]:
# 3 FROM LIST TO TUPLE
my_list = [1,2,3,4, "naman", 1]
my_tuple = tuple(my_list)
print(my_tuple)
type(my_tuple)

(1, 2, 3, 4, 'naman', 1)

tuple

In [7]:
# 4 FROM TUPLE TO LIST  
my_tuple = (1,2,3,4,5,1)
my_list = list(my_tuple)
print(my_list)
type(my_list)

[1, 2, 3, 4, 5, 1]

list

In [17]:
# 5 DECIMAL NUMBER TO BINARY
bin(9)

'0b1001'

In [19]:
# 6 FROM NON-ZERO NUMBER TO BOOLEAN
num_nonzero = " naman_TANEJA"
BOOLEAN = bool(num_nonzero)
print(BOOLEAN)
type(BOOLEAN)

True

bool